@font-face {
  font-family: 'icomoonA';
  src:  url('fontsA/icomoon.eot?8zmgjf');
  src:  url('fontsA/icomoon.eot?8zmgjf#iefix') format('embedded-opentype'),
    url('fontsA/icomoon.ttf?8zmgjf') format('truetype'),
    url('fontsA/icomoon.woff?8zmgjf') format('woff'),
    url('fontsA/icomoon.svg?8zmgjf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iconA-"], [class*=" iconA-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonA' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loc:before {
  content: "\e900";
}
.icon-left:before {
  content: "\e901";
}
.iconA-favorite:before {
  content: "\e902";
  color: #ff0000;
}
